<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicons -->
  <link rel="icon" href="static/assets/img/favicons/favicon.ico">

  <!-- Libs CSS -->
  <link rel="stylesheet" href="static/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
  <link rel="stylesheet" href="static/assets/libs/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="static/assets/libs/flickity/dist/flickity.min.css">
  <link rel="stylesheet" href="static/assets/libs/highlightjs/styles/vs2015.css">
  <link rel="stylesheet" href="static/assets/libs/simplebar/dist/simplebar.min.css">
  <link rel="stylesheet" href="static/assets/libs/flickity-fade/flickity-fade.css">
  <link rel="stylesheet" href="static/assets/fonts/feather/feather.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="static/assets/css/theme.min.css">

  <title>No Result</title>

</head>

<body>

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light @@classList">
      <!-- <div class="container"> -->

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarFashionTopCollapse">

          <!-- Brand -->
          <a class="navbar-brand mx-auto d-none d-lg-block" href="/">
            Designers Outfits
          </a>

        </div>
        <!-- Social -->
        <ul class="list-unstyled list-inline mb-7 mb-md-0 text-black-350">
          <li class="list-inline-item">
            <a href="#!" class="text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="text-reset">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="text-reset">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="text-reset">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#!" class="text-reset">
              <i class="fab fa-medium"></i>
            </a>
          </li>
        </ul>

      </div>
    </nav>

    <hr class="rgba-white-light" style="margin-bottom: 5px;">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">


      <!-- Brand -->
      <a class="navbar-brand" href="#">
      </a>

      <!-- Toggler -->
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- Nav -->
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown">

            <!-- Toggle -->
            <a class="nav-link text-uppercase" style="margin: 10px;" data-toggle="dropdown" href="#">Women</a>


          </li>
          <li class="nav-item dropdown position-static">

            <!-- Toggle -->
            <a class="nav-link text-uppercase" style="margin: 10px;" data-toggle="dropdown" href="#">Men</a>

          </li>

          <li class="nav-item dropdown">

            <!-- Toggle -->
            <a class="nav-link text-uppercase" style="margin: 10px;" data-toggle="dropdown" href="#">Designer Brands</a>
          </li>

          <li class="nav-item">

            <!-- Toggle -->
            <a class="nav-link text-uppercase" style="margin: 10px;" href="/">Sales</a>

          </li>
          <li class="nav-item dropdown">

            <!-- Toggle -->
            <a class="nav-link text-uppercase" style="margin: 10px;" data-toggle="dropdown" href="Blog">Blog</a>

          </li>
        </ul>

      </div>


    </nav>
  </div>


  <!-- CONTENT -->
  <section class="py-12">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">

          <!-- Icon -->
          <div class="mb-7 font-size-h1">🙁</div>

          <!-- Heading -->
          <h2 class="mb-5">404. Page not found.</h2>

          <!-- Text -->
          <p class="mb-7 text-gray-500">
            Sorry, we couldn't find the page you where looking for.
            We suggest that you return to home page.
          </p>

          <!-- Button -->
          <a class="btn btn-dark" href="index.html">
            Go to Homepage
          </a>

        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer class=" bg-cover @@classList" style="background-color: #D9DDDC; ">
    <div class="py-5 border-bottom border-gray-500">
      <div class="container">
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

          <div class="col-md-8 col-12 mt-5">
            <p style="line-height: 1.7rem; font-weight: bold; font-size:30px">Subscribe to our newsletter
            </p>
            <p style="line-height: 1.7rem;">You'll recieve best deals straight in your inbox</p>

            <form class="input-group">
              <input type="text" class="form-control form-control-sm" style="border-radius: 5px;">
              <div class="input-group-append">
                <button class="btn btn-lg btn btn-info btn-sm" type="submit" style="border-radius: 10px;">
                  Subscribe</button>
              </div>
            </form>
          </div>

        </div>
        <hr class="rgba-white-light" style="margin-top: 50px;">

        <div class="row">
          <div class="col-12 col-md-3">

            <!-- Copyright -->
            <div class="col-6 col-sm">
              <ul class="list-unstyled list-inline mb-7 mb-sm-0">
                <li>
                  <p class="mb-3 mb-md-0 font-size-xxs text-muted">
                    © 2020 Designers Outfits
                  </p>
                </li>

              </ul>
            </div>

          </div>
          <div class="col-6 col-sm">


            <!-- Links -->
            <ul class="list-unstyled list-inline mb-7 mb-sm-0">
              <li>
                <a class="heading-xxs mb-4 text-dark list-inline" href="#">Home</a>
              </li>
            </ul>

          </div>

          <div class="col-6 col-sm">
            <ul class="list-unstyled list-inline mb-7 mb-sm-0">
              <li>
                <a class="heading-xxs mb-4 text-dark list-inline" href="#">About us</a>
              </li>

            </ul>
          </div>

          <div class="col-6 col-sm">
            <ul class="list-unstyled list-inline mb-7 mb-sm-0">
              <li>
                <a class="heading-xxs mb-4 text-dark list-inline" href="#">Blog</a>
              </li>

            </ul>
          </div>


          <!-- Social -->
          <ul class="list-unstyled list-inline mb-7 mb-md-0 text-black-350">
            <li class="list-inline-item">
              <a href="#!" class="text-reset">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#!" class="text-reset">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#!" class="text-reset">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#!" class="text-reset">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#!" class="text-reset">
                <i class="fab fa-medium"></i>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    </div>
  </footer>



  <!-- JAVASCRIPT -->
  <!-- Libs JS -->
  <script src="static/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="static/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
  <script src="static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/libs/flickity/dist/flickity.pkgd.min.js"></script>
  <script src="static/assets/libs/highlightjs/highlight.pack.min.js"></script>
  <script src="static/assets/libs/jarallax/dist/jarallax.min.js"></script>
  <script src="static/assets/libs/list.js/dist/list.min.js"></script>
  <script src="static/assets/libs/simplebar/dist/simplebar.min.js"></script>
  <script src="static/assets/libs/smooth-scroll/dist/smooth-scroll.min.js"></script>
  <script src="static/assets/libs/flickity-fade/flickity-fade.js"></script>

  <!-- Map (replace the API key to enable) -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>

  <!-- Theme JS -->
  <script src="static/assets/js/theme.min.js"></script>


</body>

</html>