<!DOCTYPE html>
<html>
<head>
	<!-- meta areas-->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--end of meta areas-->

    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" href="w3.css">
    <link rel="stylesheet" type="text/css" href="bootstrap1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-datepicker3.css">
    <link rel="icon" href="" style="">
	<title></title>
</head>
<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light ">
	 	 <div class="collapse navbar-collapse">
	   
	        <a class="nav-link font-weight-bold text-center text-dark" href="#">Women</a>

	        <a class="nav-link font-weight-bold text-center text-dark" href="#">Men</a>

	        <a class="nav-link font-weight-bold text-center text-dark" href="#">Designer Brands</a>

	        <a class="nav-link font-weight-bold text-center text-dark" href="#">Sales</a>

	        <a class="nav-link font-weight-bold text-center text-dark" href="#">Blog</a>
	      
	  </div>
	</nav>

	<div style="height: 350px;width: 100%;">
		<img src="2.png" style="height: 350px;width: 100%;">
	</div>
	<div style="height: 400px;width: 100%; text-align: center;margin-top: 90px;">
		<h2>Our Mission</h2><br>
		Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.
	</div>
	<div style="height: 600px;width: 100%;text-align: center; background-color: #D3D3D3;margin-top: 100px;">
		<h2>Our Team</h2><br>
		Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.Discover new ideas and new opportunities.


		<div class="container w3-margin-top">

        <div class="w3-row-padding w3-margin-top">
            <div class="w3-third">
                <div class="w3-card-4">
                    <img src="5.jpg" style="height:150px;width: 90%;">
                    <div class="w3-container w3-text-black">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <br>
                        <p><b> Tom Riley</b></p>
                    	<p>CEO Founder</p>

                    </div>
                </div>
            </div>
            <div class="w3-third">
                <div class="w3-card-4">
                    <img src="5.jpg" style="height:150px;width: 90%;">
                    <div class="w3-container w3-text-black">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                         <br>
                         <p><b> Tom Riley</b></p>
                    	 <p>CEO Founder</p>
                    </div>
                </div>
            </div>
            <div class="w3-third">
                <div class="w3-card-4">
                    <img src="5.jpg" style="height:150px;width: 90%;"><br><br>
                    <div class="w3-container w3-text-black">
                    	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    	 <p><b> Tom Riley</b></p>
                    	 <p>CEO Founder</p>
                    </div>
                </div>
            </div>
</div>
</div>

	</div>
	<div style="height: 500px;width: 100%; margin-top: 70px; ">
		<h2 style="text-align: center;">Contact Us</h2><br><br>

		 <form action="/action_page.php" style="width: 70%;margin-left: 15%;margin-right: 15%;">
  <div class="form-group">
    <label for="email">Names:</label>
    <input type="input" class="form-control" placeholder="Enter Names..." id="names">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" placeholder="Enter email" id="email">
  </div>
  <div class="form-group">
    <label for="email">Reason:</label>
   <select class="form-control" id="sel1">
    <option> </option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
  </div>
  <div class="form-group">
    <label for="email">Message:</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 
	</div>

		<!-- Footer -->
		<div style="margin-top: 100px;"> 
	<footer class="page-footer font-small " style="background-color: #D9DDDC; ">
<div>
	
</div>
		<div class="container">

	    

		    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

		    	<div class="col-md-8 col-12 mt-5">
			        <p style="line-height: 1.7rem; font-weight: bold;">Subscribe to our newsletter</p>
			        <p style="line-height: 1.7rem;">You'll recieve best deals straight in your inbox</p>

			        <form class="input-group">
			            <input type="text" class="form-control form-control-sm">
			            <div class="input-group-append">
			            	<button class="btn btn-lg btn btn-primary" type="submit"> Subscribe</button>
			            </div>
			        </form>
		    	</div>
		      
		    </div>

		    <hr class="rgba-white-light" style="margin-top: 50px;">

		    <div class="row">
		    	<div class="col-md-3 col-lg-4 col-xl-3 mb-4">
		    		<p> 2020 Designer Outfits</p>
		    	</div>

		      <!-- Grid column -->

			    <div class="col-md-1 mb-1" style="font-family: arial;">
			        <h6 class=" font-weight-bold">
			          <a class="text-dark" href="#!">Home</a>
			        </h6>
			    </div>
			      <!-- Grid column -->

			      <!-- Grid column -->
			    <div class="col-md-1 mb-1">
			        <h6 class="font-weight-bold">
			          <a class="text-dark" href="#!">About</a>
			        </h6>
			    </div>
			      <!-- Grid column -->

			      <!-- Grid column -->
			    <div class="col-md-1 mb-1">
			        <h6 class=" font-weight-bold ">
			          <a  class="text-dark" href="#!">Blog</a>
			        </h6>
			    </div>


			    <div class="col-md-6 col-lg-7 text-center text-md-right">

				          <!-- Facebook -->
				    <a class="fb-ic">
				        <i class="fab fa-facebook-f white-text mr-4"> </i>
				    </a>
				          <!-- Twitter -->
				    <a class="tw-ic">
				        <i class="fab fa-twitter white-text mr-4"> </i>
				    </a>
				          <!--Instagram-->
				    <a class="ins-ic">
				        <i class="fab fa-instagram white-text"> </i>
				    </a>

		        </div>

		    </div>

	   </div>

	</footer>
</div>
	<!-- Footer -->
	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="bootstrap1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="mdb.min.js"></script>
<script type="text/javascript" src="js/lightbox-plus-jquery.min.js"></script>
<script type="text/javascript" src="bootstrap-datepicker.min.js"></script>
</html>