<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Rakuten API</title>
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
</head>

<body>
    <div id="display">
        
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        // API FOR CATEGORIES
        var categories = {
            "async": true,
            "crossDomain": true,
            "url": "https://asos2.p.rapidapi.com/categories/list?country=US&lang=en-US",
            "method": "GET",
            "headers": {
                "x-rapidapi-host": "asos2.p.rapidapi.com",
                "x-rapidapi-key": "47e36b370fmsh4437be8672c0154p1c0cb8jsn42ab70fa5204"
            }
        }

        $.ajax(categories).done(function (response) {
            var title = response.brands[2].content.title;
            var woman_products = response.brands[2].children; //contain categories ID in each child
            var category_id = ""
            for (let i = 0; i < woman_products.length; i++){
                if (woman_products[i].content.title == "adidas"){
                    category_id = woman_products[i].link.categoryId;
                    console.log(woman_products[i].content.title, " and ", category_id);
                }
                // console.log(woman_products[i].content.title);
            }
            var adidas_list = {
                "async": true,
                "crossDomain": true,
                "url": `https://asos2.p.rapidapi.com/products/v2/list?country=US&currency=USD&sort=freshness&lang=en-US&sizeSchema=US&offset=0&categoryId=${category_id}&limit=5&store=US`,
                "method": "GET",
                "headers": {
                    "x-rapidapi-host": "asos2.p.rapidapi.com",
                    "x-rapidapi-key": "47e36b370fmsh4437be8672c0154p1c0cb8jsn42ab70fa5204"
                }
            }
            $.ajax(adidas_list).done(function (response) {
                console.log(response.categoryName);
                var itemName = response.products[0].name;
                console.log(itemName);
                var image = response.products[0].imageUrl;
                $('#display').append(`<img src="https://${image}" alt="">`);
                $('#display').append(`<h5>${itemName}</h5>`);
                
            });
        });
    });
</script>

</html>