<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <link rel="icon" href="static/assets/img/favicons/favicon.ico">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="static/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="static/assets/libs/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="static/assets/libs/flickity/dist/flickity.min.css">
    <link rel="stylesheet" href="static/assets/libs/highlightjs/styles/vs2015.css">
    <link rel="stylesheet" href="static/assets/libs/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="static/assets/libs/flickity-fade/flickity-fade.css">
    <link rel="stylesheet" href="static/assets/fonts/feather/feather.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="static/assets/css/theme.min.css">

    <title>Designers Outfits</title>

</head>

<body>


    <!-- NAVBAR -->
    <div class="navbar navbar-topbar navbar-expand-xl navbar-light bg-light">
        <div class="container">
            <!-- Nav -->
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link text-gray-350" href="#!">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item ml-xl-n4">
                    <a class="nav-link text-gray-350" href="#!">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item ml-xl-n4">
                    <a class="nav-link text-gray-350" href="#!">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="nav-item ml-xl-n4">
                    <a class="nav-link text-gray-350" href="#!">
                        <i class="fab fa-medium"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    </div>


    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light @@classList">
        <div class="container">

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarFashionTopCollapse">

                <!-- Brand -->
                <a class="navbar-brand mx-auto d-none d-lg-block" href=" static/overview.html">
                    Designers Outfits
                </a>

            </div>

        </div>
    </nav>
    <hr class="rgba-white-light" style="margin-bottom: 5px;">

    <nav class="navbar navbar-expand-lg navbar-light @@classList">
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#!">Women</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#!">Men</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#!">Designer Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#!">Sales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#!">Blog</a>
                </li>

            </ul>
        </div>
    </nav>
    <hr class="rgba-white-light" style="margin-bottom: 50px;">

    <!-- PRODUCT -->
    <section>
        <div class="container" style="height: 700px;">
            <div class="row">
                <div class="col-12">
                    <div class="row">

                        <div class="col-12 col-md-6">

                            <!-- Card -->
                            <div class="card">
                                <!-- Slider -->
                                <div class="mb-4" data-flickity='{"draggable": false, "fade": true}' id="productSlider">

                                    <!-- Item -->
                                    <a href="static/assets/img/products/product-7.jpg" data-fancybox>
                                        <img src="static/assets/img/products/product-7.jpg" alt="..."
                                            class="card-img-top">
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="col-5 col-sm-6 pl-sm-5" style="height: 400px;">

                            <!-- Collapse -->
                            <div class="card-collapse-parent" style="margin-top: 15px;">
                                <!-- Body -->
                                <h3>Prada</h3>
                                <p>Pocket Linen</p>
                                <div class="card-body px-0 pb-0 bg-white">
                                    <!-- <h3>Prada</h3>
                                    <p>Pocket Linen</p> -->
                                    <!-- Rating -->
                                    <div class="rating font-size-xs text-warning mb-2" data-value="5">
                                        <div class="rating-item">
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="rating-item">
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="rating-item">
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="rating-item">
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="rating-item">
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col">

                                            <!-- Title -->
                                            <a class="d-block font-weight-bold text-body" href="product.html">
                                                Sale Price
                                            </a><br>
                                        </div>
                                        <div class="col-auto">

                                            <!-- Price -->
                                            <div class="font-size-sm font-weight-bold text-primary">
                                                $1500
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col">
                                        <a class="d-block font-weight text-body" href="product.html">
                                            List Price
                                        </a>
                                        <a class="d-block font-weight text-body" href="product.html">
                                            Savings
                                        </a>
                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <div
                                            class="font-size-xs font-weight-bold text-gray-350 text-decoration-line-through">
                                            $1800
                                        </div>

                                        <div class="font-size-sm font-weight-bold text-muted">
                                            70% off

                                        </div>

                                    </div>
                                </div>


                                <div class="col" style="margin-top:200px; text-align: center;">
                                    <a href="#">See all prices(6 stores found)</a><br>
                                </div>
                                <br>

                                <div class="col"><a class="btn btn-info btn-block mb-n12" style="border-radius: 10px;"
                                        href="#">Buy at Macy's</a></div>

                            </div>
                        </div>
                    </div>
                    

                </div>


            </div>
        </div>
        </div>
        </div>
        </div>
    </section>

    <!-- DESCRIPTION -->
    <section class="container">
        <h4>Description</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam soluta corrupti tempore, maxime quas
            molestias magnam, eligendi hic itaque pariatur repellendus autem consectetur illo, provident ullam impedit
            voluptatibus nemo vel!</p>
        <br>
        <h4>Size Info</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nulla itaque tempore cumque velit alias
            tenetur reiciendis. Ratione nemo harum, id sint inventore maiores suscipit, obcaecati perferendis sequi, at
            aliquam?</p>
        <h4>Details and Care</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos laudantium exercitationem id natus,
            dolores itaque velit aspernatur nam. Incidunt cum deleniti, beatae ipsa quod dolor dolorem modi aut eius
            sapiente.</p>
    </section>



    <br>
    <div class="container">

        <!-- <p>The .table-responsive class creates a responsive table which will scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, there is no difference:</p>                                                                                       -->
        <div class="table-responsive" style="border-radius: 20px;">
            <table class="table">
                <thead class="table table-active">
                    <tr>
                        <th>Sold by</th>
                        <th>Details & special offers</th>
                        <th>Item price</th>
                        <th>Total Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nordstrom</td>
                        <td>Free Shipping</td>
                        <td>$1500</td>
                        <td>$1500</td>
                        <td><button type="button" class="btn btn-info btn-xs"style="border-radius: 10px;">View Site</button></td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <td>Nordstrom</td>
                        <td>Free Shipping</td>
                        <td>$1500</td>
                        <td>$1500</td>
                        <td><button type="button" class="btn btn-info btn-xs"style="border-radius: 10px;">View Site</button></td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <td>Nordstrom</td>
                        <td>Free Shipping</td>
                        <td>$1500</td>
                        <td>$1500</td>
                        <td><button type="button" class="btn btn-info btn-xs"style="border-radius: 10px;">View Site</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <footer class=" bg-cover @@classList" style="background-color: #D9DDDC; ">
        <div class="py-5 border-bottom border-gray-500">
            <div class="container">
                <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

                    <div class="col-md-8 col-12 mt-5">
                        <p style="line-height: 1.7rem; font-weight: bold; font-size:30px">Subscribe to our newsletter
                        </p>
                        <p style="line-height: 1.7rem;">You'll recieve best deals straight in your inbox</p>

                        <form class="input-group">
                            <input type="text" class="form-control form-control-sm" style="border-radius: 5px;">
                            <div class="input-group-append">
                                <button class="btn btn-lg btn btn-info btn-sm" type="submit" style="border-radius: 10px;"> Subscribe</button>
                            </div>
                        </form>
                    </div>

                </div>
                <hr class="rgba-white-light" style="margin-top: 50px;">

                <div class="row">
                    <div class="col-12 col-md-3">

                        <!-- Copyright -->
                        <div class="col-6 col-sm">
                            <ul class="list-unstyled list-inline mb-7 mb-sm-0">
                                <li>
                                    <p class="mb-3 mb-md-0 font-size-xxs text-muted">
                                        © 2020 Designers Outfits
                                    </p>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <div class="col-6 col-sm">


                        <!-- Links -->
                        <ul class="list-unstyled list-inline mb-7 mb-sm-0">
                            <li>
                                <a class="heading-xxs mb-4 text-dark list-inline" href="#">Home</a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-6 col-sm">
                        <ul class="list-unstyled list-inline mb-7 mb-sm-0">
                            <li>
                                <a class="heading-xxs mb-4 text-dark list-inline" href="#">About us</a>
                            </li>

                        </ul>
                    </div>

                    <div class="col-6 col-sm">
                        <ul class="list-unstyled list-inline mb-7 mb-sm-0">
                            <li>
                                <a class="heading-xxs mb-4 text-dark list-inline" href="#">Blog</a>
                            </li>

                        </ul>
                    </div>


                    <!-- Social -->
                    <ul class="list-unstyled list-inline mb-7 mb-md-0 text-black-350">
                        <li class="list-inline-item">
                            <a href="#!" class="text-reset">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-reset">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-reset">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-reset">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-reset">
                                <i class="fab fa-medium"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        </div>
    </footer>


</body>

</html>